* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p {
    color: white;
    font-size: 30;
}

.container {
    width: 100%;
    display: flex;
    background-color: white;
    flex-flow: nowrap column;
}

.headerContainer {
    background-color: rgba(179, 179, 179, 0.55);
    order: 2;
    flex-basis: 7.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: nowrap row;
}

.headerItem {
    flex-basis: 8%;
}

.mainContentContainer {
    display: flex;
}

.namePageContainer {
    order: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigText {
    font-size: 60;
    color: black;
}

.timelinePageContainer {
    width: 100%;
    order: 3;
    height: 100%;
    display: flex;
    background-image: url('./images/me.jpeg');
    background-size: 100%;
    justify-content: center;
}

.timelinePageText {
    color: black;
}