* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p {
    color: white;
    font-size: 30;
}

.container {
    width: 100%;
    display: flex;
    background-color: white;
    flex-flow: nowrap column;
    justify-content: center;
}

.mainContentContainer {
    display: flex;
}

.namePageContainer {
    order: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    background-color: rgba(179, 179, 179, 0.55);
    order: 2;
    flex-basis: 7.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: nowrap row;
}

.headerItem {
    flex-basis: 8%;
}

.bigText {
    font-size: 60;
    color: black;
}

.content {
    order: 3;
    background-color: red;
    align-self: center;
    width: 65%;
    height: 200%;
    justify-content: space-evenly;
    align-items: center;
}

.me {
    background-image: url(./images/me.jpeg);
}

.imageBox {
    background-size: 100%;
    width: 40%;
    height: 190;
    order: 1;
    
    background-image: url('./images/me.jpeg');
}

.textBox {
    size: 5;
}